{% extends "base.html" %}
{% block content %}
<h1>Message History</h1>

<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Body</th>
      <th scope="col">Date</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    {% for message in messages %}
    <tr>
      <td><a href="/webui/messages/{{message.get('_id')}}">{{message.get('_id')}}</a></td>
      {% if message.get('message')|length > 80 %}
      <td>{{message.get('message')[:80]}}...</td>
      {% else %}
      <td>{{message.get('message')}}</td>
      {% endif %}
      <td>{{message.get('timestamp')}}</td>
      <td>{{message.get('type')}}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>


{% endblock %}
