{% extends "base.html" %}
{% block content %}
<div style="padding-left:16px">
  <h2>Message Status</h2>
  
  <table class="table">
    <tr><td width="10%">
	<label for="fname">ID</label></td>
      <td>{{message.get('_id')}}</td></tr>
    <tr><td width="10%">
	<label for="fname">Date</label></td>
      <td>{{message.get('timestamp')}}</td></tr>
    <tr><td width="10%">
	<label for="fname">Type</label></td>
      <td>{{message.get('type')}}</td></tr>
    <tr><td width="10%">
	<label for="fname">Group Message</label></td>
      <td>{{message.get('group_message')}}</td></tr>
    <!-- <tr><td width="10%"> -->
	<!-- <label for="fname">Body</label></td> -->
      <!-- <td><p>{{message.get('body')}}</p></td></tr> -->
  </table>

<h2>Message Body</h2>
<p>{{message.get('message')}}</p>

{% if show_answers %}
  <h2>Answers</h2>
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Sent</th>
      <th scope="col">Seen</th>
      <th scope="col">Answer</th>
    </tr>
  </thead>
  <tbody>
    {%for receiver in receivers%}
    <tr>
      <th scope="row">{{receiver}}</th>
      <td>{{receivers[receiver].get('sent')}}</td>
      <td>{{receivers[receiver].get('seen')}}</td>
      <td>{{receivers[receiver].get('answer')}}</td>
    </tr>
    </tr>
    {%endfor%}
  </tbody>
	</table>
{% endif %}

</div>
{% endblock %}
