<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<h1 align="center">{% block title %}{% endblock %}</h1>

<div>
  {% block main_form %}<form enctype="application/json" method="POST" action="">{% endblock %}

    <table>

      <tr>
	
	{% block name %}{% endblock %}
      </tr>

      <tr>
	<td> <label for="lname"></br>Password</label></td>
	<td><input type="text" id="lname" name="password" placeholder="Your Password.."></td>
      </tr>

      <tr>
	<td> <label for="lname"></br>Confirm Password</label></td>
	<td><input type="text" id="lname" name="con_pass" placeholder="Confirm password"></td>
      </tr>

    </table>

    <h2>Channels</h2>
    <p>Give the correct information for each different channel you wish to use.
	Select one channel as your prefered channel.Your wish to mainly use </p>

    <table>
      <tr>
	<td><label for="fname">Email</label></td>
	<td width="100%"> <input type="text" id="fname" name="email_address" placeholder="", value={{email}}><input type="radio" name="preferred_channel" value="email"><br>
	</td>
      </tr>

      <td> <label for="fname"></br>IRC-nick</label></td>
      <td><input type="text" id="fname" name="irc_nick" placeholder="", value={{irc_nick}}><input type="radio" name="preferred_channel" value="irc"><br></td></tr>

<td> <label for="fname"></br>IRC-network</label></td>
<td> <input type="text" id="fname" name="irc_network" placeholder="", value={{irc_network}}><br></td></tr>

<td> <label for="fname"></br>Slack username</label></td>
<td> <input type="text" id="fname" name="slack_user" placeholder="", value={{slack_username}}><input type="radio" name="preferred_channel" value="slack"><br></td></tr>

<td> <label for="fname"></br>Slack channel</label></td>
<td> <input type="text" id="fname" name="slack_channel" placeholder="", value={{slack_channel}}><br></td></tr>
	
<td>  <label for="fname"></br>Telegram username</label></td>
<td > <input type="text" id="fname" name="telegram" placeholder="", value={{telegram_username}}><input type="radio" name="preferred_channel" value="telegram"><br></td></tr>

<td> <label for="fname"></br>Facebook username</label></td>
<td> <input type="text" id="fname" name="facebook" placeholder="", value={{facebook_username}}><input type="radio" name="preferred_channel" value="facebook"><br></t></tr>

</table>

{% block submit %}{% endblock %}
</form>
</div>

{% block bottom %}{% endblock %}

</body>
</html>
